@page "/product/{id:int}"
@inject IProductService ProductService
@using ShopSite_Blazor.Client.Services
@using ShopSite_Blazor.Client.Services.ProductSevice
@using ShopSite_Blazor.Shared

@if (product == null)
{
    <span>@massege</span>
}
else
{
   <div class="media">
       <div class="media-img-wrapper mr-2">
           <img class="media-img" src="@product.ImageUrl"  alt="@product.Title">
       </div>
       <div class="media-body">
           <h2>@product.Title</h2>
           <p>@product.Description</p>
           <h4 class="price">
               $@product.Price
           </h4>
       </div>
   </div>
}
@code {
    private Product? product = null;

    [Parameter]
    public int Id { get; set; }
    private string massege; 

    protected override async Task OnParametersSetAsync()
    {
        massege = "Loading Product....";
        var result = await ProductService.GetProduct(Id);

        if (!result.Success)
        {
            result.Massege = massege;
        }
        else
        {
          product = result.Data;

        }


    }
 
}
